<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Xperi Solutions</a>
        <div class="d-flex align-items-center">
            <span class="text-light me-3" id="welcomeMessage">Welcome</span>
            <%- include('./app_switcher') %>
            <a href="/auth/logout" class="btn btn-outline-light">Logout</a>
        </div>
    </div>
</nav>
