node_modules
project_tree
.venv
.vscode
test.py
*.jsonl
uploads
.vscode
.npmrc
eslint.config.js
eslint_debug.log
stylelint_errors.txt
config/secrets.yaml
.env
.env.development
.env.production
.env.local
.env.*
logs/
*.log