<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
    <title><%= title %> | Data Accuracy Comparison</title>
</head>
<body class="bg-light">
    <%- include('../../partials/error') %>
</body>
</html>
